* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-shadow: 0 0 0 1px red inset; */
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #15141f !important;
  color: #fff !important;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  gap: 1rem;
}

h1 {
  text-align: center !important;
}

form {
  border: 1px solid #fefeee;
  border-radius: 20px;
  padding: 2rem;
}

.eyeIcon {
  cursor: pointer;
}

.valideIcon,
.nonValideIcon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.valideIcon {
  background: #198754;
  display: none;
}

.nonValideIcon {
  background: #dc3545;
}

.boiteAVerifier {
  display: none;
}

.btn {
  width: 100% !important;
}

@media (max-width: 500px) {
  form {
    padding: 1rem;
  }
}

@media (max-width: 400px) {
  body {
    padding: 0;
  }

  form {
    padding: .3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .inputPassword {
    padding-left: .001rem !important;
    padding-right: .001rem !important;
  }

  .labelPwd {
    font-size: 1rem !important;
  }
}